.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313132;
  border-radius: 15px;
}

.categories {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid #101111; */
  border-radius: 5px;
  padding: 1rem;
  background-color: #1b1c1c;
  width: 100px;
}

.search {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 4rem 0;
}

.search div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}
.search input {
  background-color: #1b1c1c;
  outline: none;
  border: none;
  height: 3rem;
  border-radius: 10px;
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.search button {
  margin-top: 1rem;
  font-weight: bold;
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search label {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .search {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1000px) {
  .search {
    flex-direction: row;
    gap: 1rem;
    max-width: 1200px;
  }

  .search button {
    width: 50%;
    transform: translateY(-7px);
  }
}
