.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #262727;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #313232;
  padding: 2rem 3rem;
  margin: 1rem;
  border-radius: 25px;
}

.details h1 {
  text-align: center;
}

.detailsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailsLabel {
  display: flex;
  gap: 0.5rem;
}

.payment {
  background-color: #313232;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* min-width: 60%; */
  /* max-width: 90%; */
  width: 90%;
  border-radius: 25px;
}

.priceRow {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.priceLabel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.payment button {
  padding: 1rem 2rem;
  width: 50%;
  border-radius: 25px;
  cursor: pointer;
}
.payment button:hover, .arrowContainer:hover {
  transition: filter 0.1s ease-in;
  filter: brightness(0.8);
}
.payment button:not(:hover), .arrowContainer:not(:hover) {
  transition: filter 0.1s ease-in;
}

.show {
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}
.notShow {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.arrowContainer {
  cursor: pointer;
}
 

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
