@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@700&display=swap");

.container {
  background: radial-gradient(
    circle at 50% 20%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(22, 22, 22, 0.5) 40%
  );
  margin-bottom: 4rem;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 3rem;
}

.article {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.article h2 {
  font-family: "Tektur";
  font-size: 4rem;
  z-index: 1;
}
.article p {
  width: 60%;
}
.article button {
  padding: 0.8rem 1.5rem;
  background-color: #313132;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}


.mainImg {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .mainImg {
    transform: scale(1.2);
  }

  
}

@media (min-width: 1000px) {
  .container {
    background: radial-gradient(
      circle at 70% 20%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(22, 22, 22, 0.5) 55%
    );
  }

  .main {
    flex-direction: row;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .article {
    margin-top: 3rem;
  }

  
}

@media (min-width: 1300px) {
  .mainImg {
    margin-top: 5rem;
    transform: scale(1.6);
  }
}